body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
  /*  background-color: #ddd;*/
    background:url(fondo.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius:6px;
}

header, footer, nav, section {
    display: block;
}


fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.field-validation-error {
    color: #ff006e;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #ff006e;
}

.validation-summary-errors {
    font-weight: bold;
    color:#ff006e;
}

.validation-summary-valid {
    display: none;
}

input#nombre {
    margin:30px;
    width:150px;
    height:25px;
    padding-left:10px;
    outline-color:mediumblue;
    border:1px solid groove;
    -webkit-border-radius:4px;
    -webkit-box-shadow:0px 0px 4px blue; 
    -webkit-transition: width .5s;

}
    input#nombre:focus {
        width:300px;
    }

input#pass {
    margin:20px;
    width:200px;
    height:30px;
    padding-left:10px;
    outline-color:mediumblue;
    border:1px solid groove;
    -webkit-border-radius:4px;
    -webkit-box-shadow:0px 0px 4px mediumblue; 
    -webkit-transition: width .5s;

}
    input#pass:focus {
        width:300px;
    }

input#boton {
    padding:10px 60px;
    color:magenta;
    font-size:1em;
    background-color:#5dade2;
    -webkit-transition: background-color .25s;
    border:0px;
    -webkit-border-radius:5px;
    -webkit-box-shadow: 0px 4px 0px #4AA4DF;
}
    input#boton:hover {
        background-color:#7ABBE7;

    }
h2{
    font-size:60px;
    font-family:'Goudy Stout';
    color:lightyellow;
}
#d {
    text-align:right;
        color:blue;
    font-size:20px;
    font-family:'Comic Sans MS';
}
#i {
    text-align:left;
    color:purple;
    font-size:20px;
    font-family:'Comic Sans MS';
}
ul li img {
   
    width:250px;
    height:250px;
    font-size:60px;
    font-family:Andalus;
    color:magenta;
    
}
ul li img:hover{
  
    box-shadow: 0px 0px 20px #0094ff;
   
}
#la {
    font-family:serif;
    color:magenta;
    font-size:22px;
}

b p td tr{
    font-family:serif;
    color:magenta;
    font-size:15px;
}