@{
    ViewBag.Title = "NotFound";
}

<h2>La informacion que buscaba no pudo ser encontrada</h2>
<h2> Detalles</h2>
<ul>
    <li> <b>Codigo de error </b>@ViewData["ErrorCode"]</li>
    <li> <b>Description </b>@ViewData["Description"]</li>
</ul>
<img src="@Url.Content("~/Content/pet/123.JPG")" width="200px" height="200px" alt="img" />